.list {
  width: calc(75vw - 3rem);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100%;
  padding: 1rem;
  gap: 1rem;
  list-style: none;
}
.list li {
  display: flex;
  flex-wrap: wrap;
  background-color: #360082;
  color: snow;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}
.list li h2 {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
